body {
    width: auto;
    background-color: black;
    font-family: sans-serif;
}

ul {
    width: auto;
    margin: auto;
    text-align: center;
    padding: 0;
}

li {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    display: inline-block;
    color: white;
    list-style-type: none;
}

dl a {
    color: black;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: dodgerblue;
}

a:visited {
    color: deeppink;
}

.glob {
    margin: auto;
    text-align: center;
}

.column {
    vertical-align: top;
    margin:0;
    padding: 15px;
    text-align: left;
    display: inline-block;
    background-color: black;
    width: 25%;
    max-width: 200px;
    min-width: 150px;
    color: white;
}

div img {
    width: 100%;
}

.form {
    color: dodgerblue;
}

h3 {
    
}

h5 {
    font-size: 1em;
    margin-bottom: 0;
}

h1 {
    margin: 0;
}

.st {
    margin: 0;
    padding: 0;
}

.page .typeC {
    font-size: 1.2em;
    padding-top: 15px;
    text-align: center;
}

.contract1 {
    margin: auto;
    padding: 0;
    width: 49%;
    text-align: right;
    color: deeppink;
    
}

.contract2 {
    margin: auto;
    padding: 0;
    width: 49%;
    color: dodgerblue;
    
}

.contract1 p, .contract2 p {
    margin: auto;
    padding: 0;
    font-weight: 600;
    
}

.month {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.desc {
    margin-bottom: 30px;
}

.page {
    margin: 0;
    border-radius: 4px;
    padding: 30px;
    background-color: white;
    display: inline-block;
    width: 45%;
    max-width: 600px;
    color: black;
    text-align: left;
}

.page .exp {
    min-width: 200px;
    width: 48%;
    display: inline-block;
    padding-right: 5px;
    vertical-align: top;
}

p {
    margin-top: 0;
}

.page h6 {
    font-size: 1em;
    margin: 0;
}

h5 {
    color: dodgerblue;
}

span {
    color:deeppink;
}

.scd {
    color: dodgerblue;
}

.trd {
    color: yellow;
}

.comp {
    width: 100%;
    font-variant: small-caps;
    font-family: sans-serif;
    font-size: 1em;
}

side {
    display: inline-block;
}

.outil {
    font-variant: small-caps;
}

dl.menu {
    position:relative;
    border-radius: 4px;
    margin: auto;
    bottom: 95px;
    text-align: center;
    background-color: yellow;
    width: 150px;
    transform-origin: 50% 87px;
}

dt {
    padding: 10px;
}

dd a {
    position: relative;
    top: 3px;
}

dl.menu dd {
    margin: auto;
    padding-bottom: 10px;
    transform: rotate(180deg);
}

dl.menu:hover {
    transform: rotate(-180deg);
}

dl.menu:hover {
    animation: bounceIn 0.7s ease-in-out ;
}

@keyframes bounceIn {
    from {transform: rotate(0deg);}
    75%  {transform: rotate(-200deg);}
    90%  {transform: rotate(-175deg);}
    to   {transform: rotate(-180deg);}
}

div.menu {
     animation: bounceOut 0.7s ease-in-out;
}

@keyframes bounceOut {
    from {transform: rotate(-360deg);}
    0%   {transform: rotate(-180deg);}
    10%  {transform: rotate(-160deg);}
    to   {transform: rotate(-360deg);}
}

footer img {
    width: 30px;
}

footer {
    margin-bottom: 80px;
}